<!-- BOT CONFIGURATION (BOT NAME can be empty) -->

BOT_TOKEN=
BOT_NAME=
BOT_MAGIC_SECRET=
OWNER_ID=

<!-- OPENAI CONFIGURATION -->

OPEN_AI_ORG_KEY=
OPENAI_API_KEY=

<!-- DB CONFIGURATION -->

DB_URL=
DB_NAME=
